In [4]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank.csv

In [5]:
import numpy as np
import pandas as pd
df = pd.read_csv('bank.csv', header=0, sep=";" ) 
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [6]:
df.shape

(4521, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [8]:
df['education'].value_counts()[:20]

secondary    2306
tertiary     1350
primary       678
unknown       187
Name: education, dtype: int64

In [9]:
df['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [10]:
df['y'].value_counts()

no     4000
yes     521
Name: y, dtype: int64

In [11]:
df['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [12]:
df['housing'].unique()

array(['no', 'yes'], dtype=object)

In [13]:
df['contact'].unique()

array(['cellular', 'unknown', 'telephone'], dtype=object)

In [14]:
df['month'].unique()

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [15]:
df.describe()

               age       balance  ...        pdays     previous
count  4521.000000   4521.000000  ...  4521.000000  4521.000000
mean     41.170095   1422.657819  ...    39.766645     0.542579
std      10.576211   3009.638142  ...   100.121124     1.693562
min      19.000000  -3313.000000  ...    -1.000000     0.000000
25%      33.000000     69.000000  ...    -1.000000     0.000000
50%      39.000000    444.000000  ...    -1.000000     0.000000
75%      49.000000   1480.000000  ...    -1.000000     0.000000
max      87.000000  71188.000000  ...   871.000000    25.000000

[8 rows x 7 columns]

In [16]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [17]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [18]:
for col in df.columns: 
    print(col)

age
job
marital
education
default
balance
housing
loan
contact
day
month
duration
campaign
pdays
previous
poutcome
y

In [19]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [20]:
categorical_feature_mask = df.dtypes==object
categorical_cols = df.columns[categorical_feature_mask].tolist()

In [21]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

# apply le on categorical feature columns
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))
df[categorical_cols].head()

   job  marital  education  default  housing  loan  contact  month  poutcome  y
0   10        1          0        0        0     0        0     10         3  0
1    7        1          1        0        1     1        0      8         0  0
2    4        2          2        0        1     0        0      0         0  0
3    4        1          2        0        1     1        2      6         3  0
4    1        1          1        0        1     0        2      8         3  0

In [22]:
df = df.select_dtypes(exclude=['object'])
df.head()

   age  job  marital  education  ...  pdays  previous  poutcome  y
0   30   10        1          0  ...     -1         0         3  0
1   33    7        1          1  ...    339         4         0  0
2   35    4        2          2  ...    330         1         0  0
3   30    4        1          2  ...     -1         0         3  0
4   59    1        1          1  ...     -1         0         3  0

[5 rows x 17 columns]

In [62]:
y = df.iloc[:,16:]
X = df.drop(['y'], axis=1)
print(X.shape)
y.shape

(4521, 16)

(4521, 1)

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)
print(y_train.shape)
X_train.shape

(3164, 1)

(3164, 16)

In [82]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, GridSearchCV
#from sklearn.cross_validation import GridSearch
model = LogisticRegression()
grid = {'c': 10.0** np.arange(-2,3), 'penalty':['l1','l2']}
cv = KFold(n_splits = 5, random_state = None, shuffle = False)
model1 = GridSearchCV(model, grid, cv=cv, n_jobs=1, scoring='f1_macro')
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [83]:
Y_pred = model.predict(X_test)

In [86]:
Y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [87]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print('cm :', confusion_matrix(y_test, Y_pred))
print('score :', accuracy_score(y_test, Y_pred))
print('report :', classification_report(y_test, Y_pred))

cm : [[1163   27]
 [ 137   30]]
score : 0.8791451731761238
report :               precision    recall  f1-score   support

           0       0.89      0.98      0.93      1190
           1       0.53      0.18      0.27       167

    accuracy                           0.88      1357
   macro avg       0.71      0.58      0.60      1357
weighted avg       0.85      0.88      0.85      1357